body {
    color: #212529;
}

nav {
    margin-bottom: 100px;
}

.article a {
    color: #212530;
    transition: all 0.2s;
    text-decoration: none;
}

.article a:focus, a:hover {
    color: #0085A1;
}

.article p {
    font-size: 20px;
    font-family: 'Josefin Slab', serif;

    margin: 30px 0;
}

.article h2 {
    font-family: 'Patua One', cursive;
    font-size: 50px;
}

.article h3 {
    font-family: 'Patua One', cursive;
    font-size: 30px;
}

footer {
    padding-top: 30px;
}

footer p {
    color: gray;
    font-size: 20px;
    font-family: 'Josefin Slab', serif;
    padding-top: 20px;
}

.newArticle textarea {
    height: 350px;
}

.art-block p {
    padding-top: 30px;
    font-size: 25px;
}

.art-block h1 {
    font-size: 50px;
    padding-bottom: 30px;
}

.art-block span {
    color: gray;
    font-size: 20px;
    padding-bottom: 30px;
}