{{define "edit"}}

{{template "header"}}

<div class="container">
    <div class="editArticle">
        <form role="form" method="post" action="/create">
            <input type="hidden" name="Id" value="{{.Id}}">

            <div class="form-group">
                <label>Category</label>
                <input type="text" class="form-control" id="category" name="category" value="{{.Category}}"/>
            </div>

            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{.Title}}"/>
            </div>

            <div class="form-group content">
                <label>Content</label>
                <textarea class="form-control" name="content" value="{{.Content}}"></textarea>
            </div>

            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</div>

{{template "footer"}}

{{end}}